$blue: #0167FF;
$blue-hover: darken($blue, 20%);

$white: #FFFFFF;
$dark: #212121;
$grey: #535353;
$navy-dark: #000B1C;

//social colors
$telegram: #0088CC;
$telegram-hover: darken($telegram, 5%);

$vk: #4C75A3;
$vk-hover: darken($vk, 5%);

$youtube: #FF0000;
$youtube-hover: darken($youtube, 5%);

$skype: #00aff0;
$skype-hover: darken($skype, 5%);

$transition-time: 0.5s;

$form-radius: 32px;
$form-border-color: #d1d1d1;
$form-border-color-disabled: #e8e8e8;
$form-border-color-error: #db5451;
$form-border-color-focus: #038cd6;
$form-background: #fff;
$form-background-disabled: #f5f5f5;
$form-color: #474747;
$form-color-error: #db5451;
$form-size-small: 32px;
$form-size-default: 40px;
$form-size-textarea: 125px;
$form-padding: 22px;
