$blue: #0167FF;
$blue-hover: darken($blue, 5%);

$white: #FFFFFF;
$dark: #212121;

//social colors
$telegram: #0088CC;
$telegram-hover: darken($telegram, 5%);

$vk: #4C75A3;
$vk-hover: darken($vk, 5%);

$youtube: #FF0000;
$youtube-hover: darken($youtube, 5%);

