.articles-all, .articles-newest{
    display: flex;
}

.articles-all{
    margin-left: 0px!important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.articles-meta{
    display: inline-flex;
    margin-top: 10px;
}

.articles-heading{
    display: contents;
}

.articles-link{
    line-height: 27px;
    text-transform: uppercase;
}

.article-alternate{

}

.article-alternate-meta{
    display: inline-flex;
    .article-alternate-avatar{
        width: 40px;
        height: 40px;
    }
    .article-alternate-author{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
    }
    .article-alternate-time{
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        float: right;
    }
}