.articles-all, .articles-newest{
    display: flex;
}

.articles-all{
    margin-left: 0px!important;
    margin-top: 20px;
    margin-bottom: 20px;
    position:relative;
    display: flex;
    flex-direction: column;
}

.artiles-all--container{
    display: flex;
    flex-direction: row;
}

.articles-meta{
    display: flex;
    margin-top: 10px;

}

.articles-heading{
    display: contents;
}

p{
    line-height: 170%;
}

.articles-link{
    line-height: 27px;
    text-transform: uppercase;
    margin-left: auto;
}

.article-alternate{

}

.article-alternate-meta{
    display: flex;
    height: 40px;
    align-items: center;
    .article-alternate-avatar{
        width: 40px;
        height: 40px;
    }
    .article-alternate-author{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
    }
    .article-alternate-time{
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        margin-left: auto;
    }
}