.btn{
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    transition: $transition-time;
}

.btn-regular{
    background: $blue;
    color: $white;
    &:hover{
        background: $blue-hover;
    }
}
.btn-info{
    background: $white;
    color: $blue
}
.btn-outline{
    border: 3px solid $blue;
    border-radius: 30px;
    color: $blue;
    &:hover{
        background: $blue;
        color: $white;
    }
}

