$ad-color: #1B3756;

body{
    font-family: 'Montserrat',sans-serif;
    padding: 0;
    margin: 0;
    background: $ad-color;
}

main{
    margin-top:80px;
    margin-left: 200px;
    margin-right: 200px;
}

.main-area{
    position: relative;
    margin-top: 370px;
    padding: 10px;
    background: $white;
    border-radius: 18px 18px 0 0;
}


a{
    transition: $transition-time !important;
}

.badge-red{
    background: transparentize($youtube, .5);
    color: transparentize($youtube, .2); 
}

.badge-blue{
    background: transparentize($blue, .5);
    color: transparentize($blue, .2); 
}