
header{
    justify-content: space-evenly;
    display: flex;
    background-color: $white;
    height: 75px;
    align-items: center;
}


.navbar {
    background-color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0px;
    animation-name: showElement;
    animation-direction: 1s;
    z-index: 9999 ;
}
.nav-links{
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
  li {
        text-transform: uppercase;
        display: inline;
        font-size: 17px;
        font-weight: 700;
  a {
          color: $dark;
          text-decoration: none;
          padding: 14px;
          .active{
            font-weight: 600;
            color: $blue;
        }
          &:hover {
            color: $blue;
          }
          &:active{
              color: $blue;
              font-weight: 600;
          }

      }
    }
}
  


@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
} 
.ticker{
    position: fixed;
    top:0px;
}

