.post{
    img{
        width: 100%;
    }
    p{
        margin:40px 0px;
    }

    .post-meta{
        display: flex;
        margin-bottom:20px;
        .post-category,.post-date{
            font-weight: 700;
            text-transform: uppercase;
            color: transparentize($grey,.6);
        }
        .post-date{
            margin-left: 20px;
        }
        .post-category{
            text-decoration: none;
            &:hover{
                color: transparentize($grey,.2)
            }
        }
    }
}

/* Style the list */
ul.breadcrumb {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: $grey;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: $blue;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: $blue-hover;
    text-decoration: underline;
  }

.explain-block{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  p{
    margin-left: 20px;
  }
}