.sidebar{
    .aside-social-block{
        display: inline-grid;
        width: 100%;
        
    }
    margin-left: 40px;
    margin-top: 20px;
}

.aside{
    display: flow-root;
    padding: 20px;


    ul{

        list-style: none;
        display: inline;
        li{
            margin:20px 0px;
        }
        .project-item{
            display: flex;
            align-items: center;
        }

        .category-item-title{
            text-decoration: none;
            font-weight: 400;
            color: $blue;
            &:hover{
                color: $blue-hover;
                font-weight: 600;
            }
            &:active{
                color: $blue-hover;
                font-weight: 600; 
            }
            &:visited{
                color: $blue-hover;
                font-weight: 600; 
            }
        }
        
        .project-item-title{
            font-weight: 400;
            color: $dark;
            margin-left:10px;
        }
        .project-item-price{
            font-weight: 700;
            color:$blue;
            margin-left: auto;
        }
        
        .project-item-badge{
            padding: 4px 18px;
            border-radius: 300px;
            font-weight: 700;
            text-align: center;
            margin-left: auto;
        }
    }
}


.projects-meta{
    display: flex;
    .project-price{
        margin-left: auto;
    }
}

