@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: block;
  margin: 0;
  padding: 0 1.5em;
  width: 100%;
}
@media (min-width: 37.5em) {
  .row {
    margin: 1em 0;
    padding: 0 2.5em;
  }
}

.grid-1 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-1 {
    width: 6.5%;
  }
}

.grid-2 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-2 {
    width: 15%;
  }
}

.grid-3 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-3 {
    width: 23.5%;
  }
}

.grid-4 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-4 {
    width: 32%;
  }
}

.grid-5 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-5 {
    width: 40.5%;
  }
}

.grid-6 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-6 {
    width: 49%;
  }
}

.grid-7 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-7 {
    width: 57.5%;
  }
}

.grid-8 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-8 {
    width: 66%;
  }
}

.grid-9 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-9 {
    width: 74.5%;
  }
}

.grid-10 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-10 {
    width: 83%;
  }
}

.grid-11 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-11 {
    width: 91.5%;
  }
}

.grid-12 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-12 {
    width: 100%;
  }
}

@media (min-width: 37.5em) {
  div[class*=grid] + div[class*=grid] {
    margin-left: 2%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.main-area {
  position: relative;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 18px 18px 0 0;
}

.btn {
  padding: 10px 40px;
  border-radius: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.btn .btn-regular {
  background: #0167FF;
  color: #FFFFFF;
}
.btn .btn-info {
  background: #FFFFFF;
  color: #0167FF;
}
.btn .btn-outline {
  border: 3px solid #0167FF;
  border-radius: 30px;
  color: #0167FF;
}

.sidebar {
  display: inline-flex;
}
.sidebar .sidebar-links .btn-vk {
  background: #4C75A3;
  color: #FFFFFF;
}
.sidebar .sidebar-links .btn-vk :hover {
  background: #446992;
  color: #FFFFFF;
}
.sidebar .sidebar-links .btn-telegram {
  background: #0088CC;
  color: #FFFFFF;
}
.sidebar .sidebar-links .btn-telegram :hover {
  background: #0077b3;
  color: #FFFFFF;
}
.sidebar .sidebar-links .btn-youtube {
  background: #FF0000;
  color: #FFFFFF;
}
.sidebar .sidebar-links .btn-youtube :hover {
  background: #e60000;
  color: #FFFFFF;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  margin-top: 35px;
}
.navbar .navbar-menu ul {
  list-style: none;
  display: inline;
}
.navbar .navbar-menu ul .navbar-item li .active {
  color: #0167FF;
  font-weight: 700;
}
.navbar .navbar-menu ul .navbar-item li a .navbar-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #212121;
  font-size: 16px;
}

.navbar-priceticker {
  position: fixed;
}

.card {
  position: relative;
}
.card img {
  border-radius: 16px;
  width: 100%;
}
.card .card-heading {
  color: #FFFFFF;
  position: absolute;
  top: 180px;
  left: 20px;
  width: 70%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.card .card-overlay {
  position: absolute;
  background: rgba(1, 103, 255, 0.5);
  z-index: 8000;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
.card .card-meta {
  display: inline;
}
.card .card-meta .card-time,
.card .card-meta .card-category {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.card .card-meta .card-time :after,
.card .card-meta .card-category :after {
  content: "·";
  font-weight: 600;
}

.articles-all, .articles-newest {
  display: flex;
}

.articles-all {
  margin-left: 0px !important;
}

/*# sourceMappingURL=common.css.map */
