@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: 0;
  padding: 0 1.5em;
  width: 100%;
}
@media (min-width: 37.5em) {
  .row {
    margin: 1em 0;
    padding: 0 2.5em;
  }
}

.grid-1 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-1 {
    width: 6.5%;
  }
}

.grid-2 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-2 {
    width: 15%;
  }
}

.grid-3 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-3 {
    width: 23.5%;
  }
}

.grid-4 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-4 {
    width: 32%;
  }
}

.grid-5 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-5 {
    width: 40.5%;
  }
}

.grid-6 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-6 {
    width: 49%;
  }
}

.grid-7 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-7 {
    width: 57.5%;
  }
}

.grid-8 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-8 {
    width: 66%;
  }
}

.grid-9 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-9 {
    width: 74.5%;
  }
}

.grid-10 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-10 {
    width: 83%;
  }
}

.grid-11 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-11 {
    width: 91.5%;
  }
}

.grid-12 {
  width: 100%;
}
@media (min-width: 37.5em) {
  .grid-12 {
    width: 100%;
  }
}

@media (min-width: 37.5em) {
  div[class*=grid] + div[class*=grid] {
    margin-left: 2%;
  }
}
@media (max-width: 768px) {
  div[class*=grid] {
    display: flex;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  background: #1B3756;
}

main {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.main-area {
  position: relative;
  margin-top: 370px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 18px 18px 0 0;
}

a {
  transition: 0.5s !important;
}

.badge-red {
  background: rgba(255, 0, 0, 0.5);
  color: rgba(255, 0, 0, 0.8);
}

.badge-blue {
  background: rgba(1, 103, 255, 0.5);
  color: rgba(1, 103, 255, 0.8);
}

h1, h2, h3 {
  margin-block-start: 0em;
  margin-block-end: 1em;
  text-transform: uppercase;
}

.btn {
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  transition: 0.5s;
}

.btn-block {
  width: 100%;
  border-radius: 16px;
  padding: 20px 0px;
  text-align: center;
  margin: 10px 0px;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 700;
}
.btn-block:first-child {
  margin-top: 0px !important;
}

.btn-regular {
  background: #0167FF;
  color: #FFFFFF;
}
.btn-regular:hover {
  background: #003e9a;
}

.btn-info {
  background: #FFFFFF;
  color: #0167FF;
}

.btn-outline {
  border: 3px solid #0167FF;
  border-radius: 30px;
  color: #0167FF;
}
.btn-outline:hover {
  background: #0167FF;
  color: #FFFFFF;
}

.btn-vk {
  background: #4C75A3;
}
.btn-vk:hover {
  background: #446992;
}

.btn-yt {
  background: #FF0000;
}
.btn-yt:hover {
  background: #e60000;
}

.btn-tg {
  background: #0088CC;
}
.btn-tg:hover {
  background: #0077b3;
}

.sidebar {
  margin-left: 40px;
  margin-top: 20px;
}
.sidebar .aside-social-block {
  display: inline-grid;
  width: 100%;
}

.aside {
  display: flow-root;
  padding: 20px;
}
.aside ul {
  list-style: none;
  display: inline;
}
.aside ul li {
  margin: 20px 0px;
}
.aside ul .project-item {
  display: flex;
  align-items: center;
}
.aside ul .category-item-title {
  text-decoration: none;
  font-weight: 400;
  color: #0167FF;
}
.aside ul .category-item-title:hover {
  color: #003e9a;
  font-weight: 600;
}
.aside ul .category-item-title:active {
  color: #003e9a;
  font-weight: 600;
}
.aside ul .category-item-title:visited {
  color: #003e9a;
  font-weight: 600;
}
.aside ul .project-item-title {
  font-weight: 400;
  color: #212121;
  margin-left: 10px;
}
.aside ul .project-item-price {
  font-weight: 700;
  color: #0167FF;
  margin-left: auto;
}
.aside ul .project-item-badge {
  padding: 4px 18px;
  border-radius: 300px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
}

.projects-meta {
  display: flex;
}
.projects-meta .project-price {
  margin-left: auto;
}

header {
  justify-content: space-evenly;
  margin-top: 37px;
  padding: 10px 0px;
  position: fixed;
  z-index: 1;
}

nav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  display: inline-flex;
  justify-content: space-evenly;
  top: 0;
  width: 100%;
  padding: 10px 0px;
}
nav ul {
  text-align: center;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
nav ul li {
  text-transform: uppercase;
  display: inline;
  font-size: 17px;
  font-weight: 700;
}
nav ul li a {
  color: #212121;
  text-decoration: none;
  padding: 14px;
}
nav ul li a .active {
  font-weight: 600;
  color: #0167FF;
}
nav ul li a:hover {
  color: #0167FF;
}
nav ul li a:active {
  color: #0167FF;
  font-weight: 600;
}

.ticker {
  position: fixed;
  top: 0px;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Montserrat", sans-serif;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  height: 16em;
  width: 100%;
  font-size: 1.5em;
  color: #FFFFFF;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, 0.5s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
  background: #0167FF;
  color: #FFFFFF;
}

.card h3 {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #FFFFFF;
}

.card p {
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
  color: #FFFFFF;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  font-weight: 700;
  opacity: 0.6;
  border-radius: 0.3rem;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.card:hover .tags .tag {
  background: #0167FF;
  color: #FFFFFF;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before, .card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, 0.5s;
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #003e9a;
  width: 250%;
  height: 250%;
}

.card:after {
  background: #0167FF;
  color: #FFFFFF;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: #0167FF;
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }

  .info {
    justify-content: center;
  }

  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }

  .card {
    max-width: calc(100vw - 4rem);
  }
}
@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }

  .info h1 {
    margin: 0;
  }
}
.articles-all, .articles-newest {
  display: flex;
}

.articles-all {
  margin-left: 0px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.artiles-all--container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 50px 0px;
}

.articles-meta {
  display: flex;
  margin-top: 40px 0px;
  margin-block-end: 1em;
}

.articles-heading {
  display: contents;
}

p {
  line-height: 170%;
}

.articles-link {
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: auto;
}
.articles-link:hover {
  color: #003e9a;
  font-weight: 600;
}
.articles-link:active {
  color: #003e9a;
  font-weight: 600;
}
.articles-link:visited {
  color: #003e9a;
  font-weight: 600;
}

.article-alternate-meta {
  display: flex;
  height: 40px;
  margin-top: 20px;
  align-items: center;
}
.article-alternate-meta .article-alternate-avatar {
  width: 40px;
  height: 40px;
}
.article-alternate-meta .article-alternate-author {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-left: 20px;
}
.article-alternate-meta .article-alternate-time {
  font-weight: 400;
  font-size: 12px;
  color: #535353;
  margin-left: auto;
}

.article-alternate-link a {
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: auto;
  color: #0167FF;
}
.article-alternate-link a:hover {
  color: #003e9a;
  font-weight: 600;
}
.article-alternate-link a:active {
  color: #003e9a;
  font-weight: 600;
}
.article-alternate-link a:visited {
  color: #003e9a;
  font-weight: 600;
}

.post img {
  width: 100%;
}
.post p {
  margin: 40px 0px;
}
.post .post-meta {
  display: flex;
  margin-bottom: 20px;
}
.post .post-meta .post-category, .post .post-meta .post-date {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(83, 83, 83, 0.4);
}
.post .post-meta .post-date {
  margin-left: 20px;
}
.post .post-meta .post-category {
  text-decoration: none;
}
.post .post-meta .post-category:hover {
  color: rgba(83, 83, 83, 0.8);
}

/* Style the list */
ul.breadcrumb {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #535353;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  content: "/ ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0167FF;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #003e9a;
  text-decoration: underline;
}

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #555f77;
}

p {
  line-height: rem(21);
}

.comments {
  margin: 20px auto 0;
  max-width: rem(972);
  padding: 0 rem(20);
}

.comment-wrap {
  margin-bottom: 20px;
  display: table;
  width: 100%;
  min-height: rem(85);
}

.photo {
  padding-top: 20px;
  padding-right: 20px;
  display: table-cell;
  width: 36px;
}
.photo .avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 20px;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 20px;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 16px;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 20px;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 20px;
  padding-right: 20px;
}
.comment-actions li:hover {
  color: #0167FF;
}

footer {
  background: #000B1C;
  position: relative;
  width: 100%;
  display: inline-flex;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer h4 {
  text-transform: uppercase;
  color: #FFFFFF !important;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin: 20px 0px;
}
footer ul li a {
  text-transform: uppercase;
  color: #0167FF;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
footer ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  display: flex;
}

.social-block ul {
  list-style: none;
  display: flex;
}
.social-block ul li {
  margin: 0px 20px;
}
.social-block .fab {
  color: rgba(255, 255, 255, 0.1);
  font-size: 32px;
  transition: 0.5s;
}
.social-block .fa-telegram-plane:hover {
  color: #0088CC;
}
.social-block .fa-vk:hover {
  color: #4C75A3;
}
.social-block .fa-youtube:hover {
  color: #FF0000;
}
.social-block .fa-skype:hover {
  color: #00aff0;
}
.social-block .footer-updates {
  margin: 40px 0px;
}

.ads-block {
  margin: 40px 0;
}
.ads-block img {
  border-radius: 16px;
  width: 100%;
}

.ad-banner {
  z-index: -999;
}
.ad-banner img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 60px;
}

/*# sourceMappingURL=common.css.map */
